<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title"><%= t "home_page.login_form.search_example" %></h1>  
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <% student = random_student(:with_subj_data) %>
            <p class="title">
              <%= student.last_name %> <%= student.first_name %> <%= student.mid_name %>
            </p>
            <p class="subtitle">Обучается в группе: <%= student.group.name %></p>
            <div class="content">
              <% JSON.parse(student.subject_data).each do |key, value| %>
                <div><%= key %>: <%= value %></div>
              <% end %>
            </div>
          </article>
        </div>
      </div>
      <div class="column login-form">  
        <h1 class="title"><%= t "home_page.login_form.signup_title" %></h1>  
        <div class="columns">
          <div class="column">
            <div class="control">
              <%= link_to omniauth_authorize_path(:user, :vkontakte), class: "is-info is-light button is-fullwidth" do %>
                <span class="icon">
                  <%= image_tag("logos/VK_Blue_Logo") %>
                </span>
                <span>
                  <%= t "home_page.login_form.login_thru" %> VK
                </span>
              <% end %>
            </div>
            <div class="control">
              <%= link_to omniauth_authorize_path(:user, :facebook), class: "is-link is-light button is-fullwidth" do %>
                <span class="icon">
                  <%= image_tag("logos/facebook_logo") %>
                </span>
                <span>
                  <%= t "home_page.login_form.login_thru" %> Facebook
                </span>
              <% end %>
            </div>
            <div class="control">
              <%= link_to omniauth_authorize_path(:user, :github), class: "is-light button is-fullwidth" do %>
                <span class="icon">
                  <%= image_tag("logos/GitHub") %>
                </span>
                <span>
                  <%= t "home_page.login_form.login_thru" %> GitHub
                </span>
              <% end %>
            </div>
          </div>
          <div class="column">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email, t("home_page.login_form.email"), class: "label" %>
                <div class="control">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: t("home_page.login_form.email") %>
                </div>
              </div>

              <div class="field">
                <%= f.label :password, t("home_page.login_form.create_pass"), class: "label" %>
                <div class="control">
                  <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: t("home_page.login_form.pass")%>
                </div>
              </div>

              <div class="field">
                <%= f.label :password, t("home_page.login_form.repeat_pass"), class: "label" %>
                <div class="control">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: t("home_page.login_form.pass")%>
                </div>
              </div>

              <div class="actions">
                <div class="control">
                  <%= f.submit t("home_page.login_form.signup"), class: "button is-success is-fullwidth" %>
                </div>
              </div>
              
            <% end %>
          </div>
        </div>
        <%= link_to t("home_page.login_form.already_with_us"), new_session_path(resource_name), class: "button is-light is-fullwidth" %>
      </div>
    </div>
  </div>
</section>