$(document).ready(function() {
    restoreUserList();
});

function restoreUserList() {
    let dataToReload = `
      <% user_list.reject { |u| u == current_user }.each do |u| %>
        <article class="media">
          <% unless u.image_url.blank? %>
            <figure class="media-left">
              <p class="image is-64x64">
                <%= image_tag(u.image_url, class: "is-rounded") %>
              </p>
            </figure>
          <% end %>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= u.bf_username %></strong>
                <% if u.is_admin %>
                  <span class="icon is-small has-text-success">
                    <i class="fas fa-certificate"></i>
                  </span>
                <% end %>
                <% case u.provider&.to_sym %>
                <% when :vkontakte %>
                  <span class="icon is-small has-text-info">
                    <i class="fab fa-vk"></i>
                  </span>
                <% when :facebook %>
                  <span class="icon is-small has-text-info">
                    <i class="fab fa-facebook-square"></i>
                  </span>
                <% when :github %>
                  <span class="icon is-small has-text-info">
                    <i class="fab fa-github"></i>
                  </span>
                <% end %>
              </p>
            </div>
            <div class="content">
              <span>Дата регистрации: <%= u.created_at %></span>
            </div>
          </div>
          <div class="media-right">
            <div class="control">
              <%= button_to admin_destroy_user_path(u), method: :delete, remote: true, class: "button is-danger" do %>
                <span class="icon is-small">
                  <i class="fas fa-backspace"></i>  
                </span>
                <span>Удалить пользователя</span>
              <% end %>
            </div>
            <div class="control">
              <% unless u.is_admin %>
                <%= button_to change_permissions_for_path(u), method: :post, remote: true, class: "button is-success" do %>
                  <span class="icon is-small ">
                    <i class="fas fa-tools"></i>
                  </span>
                  <span>Сделать админом</span>
                <% end %>
              <% else %>
                <%= button_to change_permissions_for_path(u), method: :post, remote: true, class: "button is-warning" do %>
                  <span class="icon is-small ">
                    <i class="fas fa-tools"></i>
                  </span>
                  <span>Убрать права админа</span>
                <% end %>
              <% end %>
            </div>
          </div>
        </article>
      <% end %>
    `
    let userListNode = $('#user-list');
    userListNode.empty();
    userListNode.append(dataToReload);
}