<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= t "account.welcome" %>, <%= account_username %>
      </h1>
      <h2 class="subtitle">
        <%= t "account.welcome_subtitle" %>
      </h2>
    </div>
  </div>
</section>
<section class="hero is-light is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="subtitle"><%= t "account.use_this_token" %>:</div>
      <div class="field has-addons">
        <div class="control" id="token-input">
          <input class="input" type="text" readonly="readonly" value="<%= user_bf_token %>">
        </div>
        <div class="control">
          <%= link_to t('account.create_new_token'), regenerate_token_path, class: "button is-info", remote: true  %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'page/documentation' %>