<nav class="level after-header">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">
                <%= ::Temple::Utils.escape_html((t 'home_page.after_header.students_in')) %>
            </p>
            <p class="title">
                <%= ::Temple::Utils.escape_html((users_in_db)) %>
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">
                <%= ::Temple::Utils.escape_html((t 'home_page.after_header.updates')) %>
            </p>
            <p class="title">
                <%= ::Temple::Utils.escape_html((t 'home_page.after_header.updates_txt')) %>
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">
                <%= ::Temple::Utils.escape_html((t 'home_page.after_header.users')) %>
            </p>
            <p class="title">&gt; 0</p>
        </div>
    </div>
</nav>
<div id="wrapper">
    <div class="animated-background">
        <section class="section">
            <div class="container has-text-centered main-page-content">
                <p class="main-page-title">
                    <%= ::Temple::Utils.escape_html((t 'home_page.body.main_txt')) %>
                </p>
                <p class="main-page-subtitle">
                    <%= ::Temple::Utils.escape_html((t 'home_page.body.after_main_txt')) %>
                </p>
            </div>
        </section>
    </div>
</div>