<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <% student = random_student(:with_subj_data) %>
            <p class="title">
              <%= student&.last_name %> <%= student&.first_name %> <%= student&.mid_name %>
            </p>
            <p class="subtitle">Обучается в группе: <%= student&.group&.name %></p>
            <div class="content">
              <% JSON.parse(student&.subject_data).each do |key, value| %>
                <div><%= key %>: <%= value %></div>
              <% end unless student&.subject_data.nil? %>
            </div>
          </article>
        </div>
      </div>
      <div class="column login-form">  
        <h1 class="title"><%= t "home_page.login_form.form_title" %></h1>  
        <div class="columns">
          <div class="column">
            <div class="control">
              <%= link_to omniauth_authorize_path(:user, :vkontakte), class: "is-info is-light button is-fullwidth" do %>
                <span class="icon">
                  <%= image_tag("logos/VK_Blue_Logo") %>
                </span>
                <span>
                  <%= t "home_page.login_form.login_thru" %><span>&nbsp;VK</span>
                </span>
              <% end %>
            </div>
            <div class="control">
              <%= link_to omniauth_authorize_path(:user, :facebook), class: "is-link is-light button is-fullwidth" do %>
                <span class="icon">
                  <%= image_tag("logos/facebook_logo") %>
                </span>
                <span>
                  <%= t "home_page.login_form.login_thru" %><span>&nbsp;Facebook</span>
                </span>
              <% end %>
            </div>
            <div class="control">
              <%= link_to omniauth_authorize_path(:user, :github), class: "is-light button is-fullwidth" do %>
                <span class="icon">
                  <%= image_tag("logos/GitHub") %>
                  <%# <i class="fab fa-github"></i> %>
                </span>
                <span>
                  <%= t "home_page.login_form.login_thru" %><span>&nbsp;GitHub</span>
                </span>
              <% end %>
            </div>
          </div>
          <div class="column">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email, t("home_page.login_form.email"), class: "label" %>
                <div class="control">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: t("home_page.login_form.email") %>
                </div>
              </div>

              <div class="field">
                <%= f.label :password, t("home_page.login_form.pass"), class: "label" %>
                <div class="control">
                  <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: t("home_page.login_form.pass")%>
                </div>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me, class: "checkbox" %>
                  <%= f.label :login, t("home_page.login_form.remember"), class: "checkbox" %>
                </div>
              <% end %>

              <div class="actions">
                <div class="control">
                  <%= f.submit t("home_page.login_form.login"), class: "button is-success is-fullwidth" %>
                </div>
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <div class="control">
                    <%= link_to t("home_page.login_form.forgot_pass"), new_password_path(resource_name), class: "button is-warning is-light is-fullwidth" %>
                  </div>
                <% end %>
              </div>
              
            <% end %>
          </div>
        </div>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to t("home_page.login_form.signup_mess"), new_registration_path(resource_name), class: "button is-light is-fullwidth" %>
        <% end %>
      </div>
    </div>
  </div>
</section>