<%# !!! 5
%html
  %head
    %title BaumanFinder
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    = yield %>

<!DOCTYPE html>
<html>

<head>
  <title>BaumanFinder</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': false %>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet"> 
</head>

<body>
  <nav class="navbar header is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
          <p>BaumanFinder</p>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <button class="navbar-item button is-info is-light is-rounded">
              <%= t 'home_page.about_api' %>
            </button>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= t 'home_page.doc' %>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item">
                <%= t :doc %>
              </a>
              <a class="navbar-item">
                JWT запросы
              </a>
              <a class="navbar-item">
                Запросы с использованием токена
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Простейшие запросы
              </a>
              <a class="navbar-item">
                Поиск по группам
              </a>
              <a class="navbar-item">
                Сортировки
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
                
            </div>
          </div>
        </div>
        <div class="navbar-item">
            <button class="navbar-item button is-light is-link is-rounded">
              <%= link_to 'RU', region: :ru %>
            </button>
            <button class="navbar-item button is-light is-danger is-rounded">
              <%= link_to 'EN', region: :en %>
            </button>
          </div>
      </div>
    </div>
  </nav>
  <%= yield %>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong><%= t 'home_page.footer.work_info' %></strong> by <strong>Дасов Тит (ИУ6-33Б)</strong>.
      </p>
    </div>
  </footer>
</body>

</html>